.delete {
  color: #040b14 !important;
  font-size: xx-small;
}

.disclaimer-declaration {
  font-size: xx-small;
  color: #ffffff;
}

.disclaimer {
  color: #ffffff !important;
  font-size: xx-small;
  text-align: center !important;
}
.flags {
  max-width: 10%;
}
.languages-bg {
  background: #fafde2;
}
/* .languages-text {
  font-size: 10px !important;
} */

/* .fifty {
  min-width: 50% !important;
  max-width: 50% !important;
  float: right !important;
} */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#cwb {
  background: url("../img/camera.jpg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
}

#cwb::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#cwb .container {
  position: relative;
}

#cwb h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Satisfy", serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#cwb p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#cwb .social-links {
  margin: 0 0 40px 0;
}

#cwb .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#cwb .social-links a:hover {
  background: #f3a200;
  color: #fff;
  text-decoration: none;
}

#cwb .copyright {
  margin: 0 0 5px 0;
}

#cwb .credits {
  font-size: 13px;
}
