.delete {
  color: #040b14 !important;
  font-size: xx-small;
}

.disclaimer-declaration {
  font-size: xx-small;
  color: #149ddd;
}

.disclaimer {
  color: #ffffff !important;
  font-size: xx-small;
  text-align: center !important;
}
.flags {
  max-width: 20%;
}
.languages-bg {
  background: #fafde2;
}
/* .languages-text {
  font-size: 10px !important;
} */
